<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'home.css' %}"/>
    <style>
        .content_all {
            position: absolute;
            background-color: #dddddd;
            left: 0;
            top: 48px;
            right: 0;
            bottom: 0;
            overflow: auto;
        }
        .part_right_inner {
            background-color: #dddddd;
            height: 1000px;
            width: 800px;
            margin: 20px auto;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
    <div class="header1">
        <div class="content1">
            <a class="block left" href="{% url 'home' %}">首页</a>
            <a class="block left">论坛</a>
            <a class="block left" href="">分类</a>
            <a class="block right" href="/text_app/clean_login/" style="float: right">注销</a>
            <a class="block right" href="/accounts/register/">注册</a>
            <a class="block right" href="/accounts/login/">登录</a>
            {% if statues.data %}
                <img src='{{ photo }}' class="right" style="width: 52px; height: 47px; border-radius: 20px;" alt="头像"/>
            {% endif %}
        </div>
    </div>

    <div class="content_all">
        {% block button %}{% endblock %}
        <div class="part_right_inner">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{% static 'jquery-1.12.4.js' %}"></script>
    <script src="{% static 'jquery-cookie.js' %}"></script>
    {% block js %}{% endblock %}

</body>
</html>